[Unit]
Description=Minecraft Server

[Service]
ExecStartPre=-/usr/bin/docker kill ftb
ExecStartPre=-/usr/bin/docker rm ftb
ExecStartPre=-/usr/bin/mkdir -p /home/core/minecraft/infinity/{world,config}
ExecStart=/usr/bin/docker run --rm --name ftb -p 25565:25565 -v /home/core/minecraft/infinity/world:/ftb/world -v /home/core/minecraft/infinity/config:/config foobert/ftb
ExecStop=/usr/bin/docker stop ftb

[X-Fleet]
Conflicts=ftb
